<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Receta de pastelitos</h1>
    <p>Los pastelitos de batata y membrillo son un postre tradicional en Argentina, especialmente durante las celebraciones patrias. Pueden rellenarse con dulce de batata o membrillo, según la preferencia de cada uno.</p>
    <hr>
    <h2>Lista de ingredientes</h2>
    <p>Masa para pastelitos</p>
    <ul>
        <li>500 gr de harina 0000</li>
        <li>3100 gr de manteca</li>
        <li>250 cc de agua</li>
        <li>1 pizca de sal</li>
        <li>1/2 cdta de jugo de limón</li>
    </ul>
    <p>Para hojaldrar la masa</p>
    <ul>
        <li>Manteca o margarina</li>
        <li>Almidón de maiz</li>
    </ul>
    <p>Relleno para pastelitos</p>
    <ul>
        <li>125 gr de dulce de membirllo</li>
        <li>125 gr de dulce de batata</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol type="i">
        <li>Precalentar el horno a 180°C (350°F).</li>
        <li>Estirar la masa para empanadas sobre una superficie limpia y cortarla en círculos de aproximadamente 10 cm de diámetro.</li>
        <li>Colocar una cucharada de dulce de batata o membrillo en el centro de cada círculo de masa.</li>
        <li>Doblar la masa por la mitad, formando una media luna, y presionar los bordes con un tenedor para sellarlos.</li>
        <li>Pincelar la parte superior de cada pastelito con huevo batido para darles un color dorado al hornearlos.</li>
        <li>Si se desea, espolvorear un poco de azúcar por encima antes de hornear.</li>
        <li>Colocar los pastelitos en una bandeja para hornear y hornear durante 20-25 minutos o hasta que estén dorados.</li>
        <li>Dejar enfriar antes de servir. ¡Disfrutar!</li>
    </ol>
    <a href="https://www.paulinacocina.net/pastelitos-caseros/11760" target="_blank">Leer esta receta en Paulina Cocina</a>
    <br>
    <a href="../views/instructivo1.html">Leer receta de tortilla de papas española</a>
    <br>
    <a href="../../index.html">Volver al inicio</a>
</body>
</html>