<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Receta de tortilla de papas española</h1>
    <img src="../img/tortilla.png" alt="Tortilla de papas española" style="width: 500px; height: 250px;">
    <br>
    <p>La tortilla de papa española, se trata de una tortilla u omelette a la que se le agregan papas troceadas, huevos y cebolla.</p>
    <hr>
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>4 Huevos</li>
        <li>3 papas medianas</li>
        <li>1/2 cebolla</li>
        <li>Sal al gusto</li>
        <li>Aceite de oliva</li>
    </ul>
    <h2>Lista de pasos</h2>
    <ol type="i"> 
        <li>Pelar y cortar las papas en rodajas finas.</li>
        <li>En una sartén grande, calentar aceite de oliva y añadir las papas. Cocinar a fuego medio hasta que estén tiernas.</li>
        <li>Mientras se cocinan las papas, batir los huevos en un bol grande y añadir sal y pimienta al gusto.</li>
        <li>Cuando las papas estén listas, escurrir el exceso de aceite y añadirlas al bol con los huevos batidos. Mezclar bien.</li>
        <li>En la misma sartén, añadir un poco más de aceite si es necesario y verter la mezcla de huevos y papas. Cocinar a fuego medio-bajo durante unos minutos.</li>
        <li>Con ayuda de un plato, voltear la tortilla para cocinarla por el otro lado. Cocinar hasta que esté dorada y cuajada.</li>
        <li>Servir caliente o a temperatura ambiente.</li>
    </ol>
    <iframe width="700" height="400" src="https://www.youtube.com/embed/zfdzfDGc-1k" title="Cómo hacer tortilla de papas: ASÍ LA HAGO YO (tortilla española)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br>
    <a href="https://www.paulinacocina.net/tortilla-de-papas-espanola/10476" target="_blank">Leer esta receta en Paulina Cocina</a>
    <br>
    <a href="../views/instructivo2.html">Leer receta de pastelitos</a>
    <br>
    <a href="../../index.html">Volver al inicio</a>
</body>
</html>